<div class="container">
  <fieldset><legend>Set Your Password Here</legend></fieldset>
  <form (submit)="validateForm()">
    <div class="form-group row">
      <label class="col-md-4">
        Current Password
      </label>
      <div class="col-md-4">
          <input type="{{type1}}" [(ngModel)]="input.current_pass" name="current_pass" class="form-control" required placeholder="Enter Your Current Password Here">
      </div>
      <div class="col-md-1">
        <input type="checkbox" (click)="showOldPass()"  class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4">
        New Password
      </label>
      <div class="col-md-4">
        <input type="{{type2}}" class="form-control" [(ngModel)]="input.new_pass" name="new-pass" required placeholder="Enter Your New Password Here">
      </div>
      <div class="col-md-1">
        <input type="checkbox" (click)="showNewPass()" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4">
        Confirm Password
      </label>
      <div class="col-md-4">
        <input type="{{type3}}"  [(ngModel)]="input.confirm_pass" name="confirm_pass" class="form-control" required placeholder="Confirm Your Password">
      </div>
      <div class="col-md-1">
        <input type="checkbox" (click)="showConfirmPass()" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <input type="submit" (click)="onClick()"class="form-control btn btn-warning">
      </div>
    </div>
  </form>	
</div>