		<div class="container-fluid main">
			<div class="container app-body">
				<div class="row">
					<div class="col-md-4" >
						<a routerLink="/reserve-seat" data-toggle="tooltip" data-placement="bottom" title="Reserve Seat">
							<div class="box">
								<img src="{{this.visibleImages[0].url}}" class="img-responsive" alt="reserve seat"/>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a routerLink="/search-seat" data-toggle="tooltip" data-placement="bottom" title="Search Seats">
							<div class="box">
								<img src="{{this.visibleImages[7].url}}" class="img-responsive" alt="search seat" />
							</div>
						</a>
					</div>
					<div class="col-md-4">		
						<a routerLink="/save-driver-info" data-toggle="tooltip" data-placement="bottom" title="Save Drivers Information">
							<div class="box">
								<img src="{{this.visibleImages[1].url}}" class="img-responsive" alt="save drivers information"/>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a routerLink="/set-driver-info" data-toggle="tooltip" data-placement="bottom" title="Set Drivers Information">
							<div class="box">
								<img src="{{this.visibleImages[6].url}}" class="img-responsive" alt="set drivers info" />
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a routerLink="/set-password" data-toggle="tooltip" data-placement="bottom" title="Set Your Password">
							<div class="box">
								<img src="{{this.visibleImages[4].url}}" class="img-responsive" alt="Set Password" />
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a routerLink="/set-coach-info" data-toggle="tooltip" data-placement="bottom" title="Set Coach Information">
							<div class="box">
								<img src="{{this.visibleImages[10].url}}" class="img-responsive" alt="Set Coach Information" />
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" >
						<a routerLink="/cancel-seat" data-toggle="tooltip" data-placement="bottom" title="Cancel Seat Reservation">
							<div class="box">
								<img src ="{{this.visibleImages[8].url}}" class="img-responsive" alt="Cancel Seat Reservation"/>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a routerLink="/show-all-records" data-toggle="tooltip" data-placement="bottom" title="Show All Records">
							<div class="box">
								<img src="{{this.visibleImages[3].url}}" class="img-responsive" alt="Show All Records"/>
							</div>
						</a>
					</div>
					<div class="col-md-4">
							<a routerLink="save-coach-info" data-toggle="tooltip" data-placement="bottom" title="Save Coach Info">
								<div class="box">
									<img src="{{this.visibleImages[9].url}}" class="img-responsive" alt="Save Coach Info"/>
								</div>
							</a>
						</div>				
				</div>					
			</div>
		</div>