.container{

    margin-top:40px;

}

.search-form{
		margin:10px auto 0 auto;
		}
.search-table{

    margin-top:80px;

}   
input[type=text],input[type=number]{
    text-align: center;
    border-left: 20px solid green;
} 
input:focus{
    border-left: 20px solid skyblue;
}    