<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
<div class="modal-content" >	
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Coach Information</h4>
  </div>
<div class="modal-body" >		
  <form (submit)="validateForm()">
             <div class="form-group row">
                  <div class="col-md-1"></div>
                      <div class="col-md-4">
                        <input  [(ngModel)]="modelInput.coach_no" name="coach_no" required class="form-control" type="text" placeholder="Coach ID">
                       </div>
            <div class="col-md-4">
               <!-- <select class="form-control"  [(ngModel)]="modelInput.coach_name" name="coach_name"required>
                      <option selected disabled>Select Coach</option>
                      <option *ngFor="let items of mydata3">
                           {{items.coach_name}}
                      </option>
                    </select> -->
              <input class="form-control" [(ngModel)]="modelInput.coach_name" name="coach_name" required type="text" placeholder="Name Of Coach"/>
            </div>
          </div>            
          <div class="form-group row"> 
            <div class="col-md-1"></div>
               <div class="col-md-4">
                   <select class="form-control" required placeholder="Coach Timings"[(ngModel)]="modelInput.timings" name="timings" >
                      <option  selected disabled>Coach Timings</option>
                         <option *ngFor="let items of mydata2">{{items.timings}}</option>
                   </select>
                </div>                 
                 <div class="col-md-4">
                   <select class="form-control" required  [(ngModel)]="modelInput.destination_loc" name="destination_loc">
                       <option  selected disabled>Dest. Locations</option>
                        <option *ngFor="let items of mydata1">{{items.destination_loc}}</option>
                   </select>
                 </div>
            </div>
            <div class="form-group row">
               <div class="col-md-3"></div>
              <div class="col-md-5">
                   <input class="form-control" [(ngModel)]="modelInput.fare" name="fare"  required type="number" placeholder="Fare"/>
              </div>
            </div>
            <div class="form-group row">
               <div class="col-md-1"></div>
                   <div class="col-md-4">
                     <input class="btn btn-success form-control"  (click)="editPopUpRecords()"  [id]="mydata" type="submit" value="Edit Record">             
                  </div>
                 <div class="col-md-4">
                   <input class="btn btn-danger form-control" type="Reset" value="Reset" />
                 </div>	
            </div>
       </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>
</div>
</div>
<!--ends of toggle div-->
<div class="container">
    <div class="jumbotron">
      <h3 class="text-center">Coach Information</h3>
      <div class="row  search-form">
        <form>
          <label class="form-group col-md-2">
            <input routerLink="../save-coach-info" value="Add Records" class="form-control btn btn-warning"/>
             
         </label>
          <div class="col-md-6"></div>
          <label class="form-group col-md-4">
            <input type="text" class="form-control search" name="search" [(ngModel)]="search"  placeholder="Search By Coach Number">
          </label> 
        </form>
      </div>
  </div>
  <div class="table-responsive">
      <table class="table table-hover table-bordered search-table">
        <tr class="info active">
          <th>Coach ID</th>
          <th>Coach Name</th>
          <th>Coach Timings</th>
          <th>Destination Locations</th>
          <th>Fare</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let items of mydata | coachNo:search">
         <td  >{{items.coach_no}}</td>
          <td >{{items.coach_name}}</td>
          <td>{{items.timings}}</td>
          <td>{{items.destination_loc}}</td>
          <td>{{items.fare}}</td>
          <td>
            <input type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal"  (click)="toggleDiv(items)" value="Edit">
            <input type="button"  (click)="onClick(items)"  [id]="items" class="btn btn-danger"  value="X">
          </td>
        </tr>
      </table>
  </div>
</div>
     